# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.python-version

# Test/coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage*
htmlcov/
coverage.xml

# Environments & secrets
.venv/
.env
.env.*.local
!.env.example

# Editors/IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Node (future UI)
node_modules/

# Docker
**/db_data/

# Others
INSTRUCTIONS.md
